**
!apps/
!apps/web/
!apps/web/package.json
!apps/web/package-lock.json
!apps/web/tsconfig*.json
!apps/web/vite.config.ts
!apps/web/src/
!apps/web/src/**
!apps/web/scripts/
!apps/web/scripts/copy-platform-data.mjs
!apps/web/data/
!apps/web/data/platforms/
!apps/web/data/platforms/catalog.json
!apps/web/data/platforms/manifest.json
!apps/web/data/platforms/public-rules/
!apps/web/data/platforms/public-rules/manifest.json
!apps/web/data/platforms/public-rules/rules.json
!apps/web/data/platforms/public-rules/exclusions.json
!apps/web/data/platforms/public-rules/maigret-NOTICE.md
!apps/web/data/platforms/public-rules/maigret-LICENSE.txt
!apps/web/data/platforms/public-rules/whatsmyname-NOTICE.md
!apps/web/data/platforms/public-rules/whatsmyname-LICENSE.txt
!apps/web/data/platforms/public-rules/LICENSE-DATASETS.md
!Dockerfile
